html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: x-large;
    text-align: center;
    background-image: linear-gradient(90deg,white,rgb(28, 243, 28));
}

a {
    color: blue;
}

form {
    margin: auto;
    border: 2px solid;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
}

ul {
    margin: auto;
    display: inline-block;
}
 img {
    height: 200px;
    width: 200px;
    border: 2px solid;
    cursor: pointer;
 }